<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-apexcharts"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Home</title>
</head>
<body>
    <br>
  <div class="container">
    <div class="dropdown">
      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
        Choose A Trade Code
      </button>
      <ul class="dropdown-menu">
        {% for code in trade_codes %}
          <li><a class="dropdown-item" trade_code={{code.trade_code}} href="#">{{code.trade_code}}</a></li>
        {% endfor %}
      </ul>
    </div>
    <br>
    <br>
    <div class="chart-holder">
      <h4 style ="color: purple" id="code_viewer" align="center"></h4>
      <div class="container" id="code_chart"></div>
    </div>
      <br>
  <center>
   <button type="button" id="new_entry" class="btn btn-outline-success" style="display: block">Add A New Entry</button><br>
   <button type="button" id ="cancel" class="btn btn-outline-danger" style="display: none">Cancel</button>
 </center>
   <div class="form" id="form_holder" style="display: none">
   <form method="post" class="ajax" enctype="multipart/form-data" id="new_entry_form">
        <label for="date_in" class="form-label">Date</label>
        <input type="date" id="date_in" class="form-control" name="date">
        <br>

        <label for="trade_code_in" class="form-label">Trade Code</label><br>
        <input type="text" id="trade_code_in" class="form-control" name="trade_code">
        <br>

        <label for="high_in" class="form-label">High</label><br>
        <input type="number" id="high_in" class="form-control" name="high">
        <br>

        <label for="low_in" class="form-label">Low</label><br>
        <input type="number" id="low_in" class="form-control" name="low">
        <br>

        <label for="open_in" class="form-label">Open</label><br>
        <input type="number" id="open_in" class="form-control" name="open">
        <br>

        <label for="close_in" class="form-label">Close</label><br>
        <input type="number" id="close_in" class="form-control" name="close">
        <br>

        <label for="volume_in" class="form-label">Volume</label><br>
        <input type="number" id="volume_in" class="form-control" name="volume">
        <br>


        <button type="submit" class="btn btn-outline-primary" id="entry_submit">Submit</button>
    </form>
  </div>
  <br>
    <div class="panel panel-default">
        <div class="panel-body">
          <div class="tbl_user_data"></div>
        </div>
      </div>
  </div>
  <div class="container">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" id="Previous" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" id="Next" href="#">Next</a></li>
  </ul>
  </div>
</body>


<script>

function renderTable(data){
  var tbl = '';
  tbl +='<table class="table table-hover">'
      tbl +='<thead>';
          tbl +='<tr>';
          tbl +='<th>Date</th>';
          tbl +='<th>Trade Code</th>';
          tbl +='<th>High</th>';
          tbl +='<th>Low</th>';
          tbl +='<th>Open</th>';
          tbl +='<th>Close</th>';
          tbl +='<th>Volume</th>';
          tbl +='</tr>';
      tbl +='</thead>';
      tbl +='<tbody id="tbody">';
      $.each(data, function(index, val)
          {
              var row_id = val['pk']
              tbl +='<tr display="block" id="'+row_id+'" row_id="'+row_id+'">';
                  tbl +='<td ><div class="row_data" edit_type="click" col_name="date">'+val['date']+'</div></td>';
                  tbl +='<td ><div class="row_data" edit_type="click" col_name="trade_code">'+val['trade_code']+'</div></td>';
                  tbl +='<td ><div class="row_data" edit_type="click" col_name="high">'+val['high']+'</div></td>';
                  tbl +='<td ><div class="row_data" edit_type="click" col_name="low">'+val['low']+'</div></td>';
                  tbl +='<td ><div class="row_data" edit_type="click" col_name="open">'+val['open']+'</div></td>';
                  tbl +='<td ><div class="row_data" edit_type="click" col_name="close">'+val['close']+'</div></td>';
                  tbl +='<td ><div class="row_data" edit_type="click" col_name="volume">'+val['volume']+'</div></td>';
                  tbl +='<td>';
                  tbl += '<button type="button" edit_type="button" class="btn btn-outline-danger" id="delete_button">Delete</button>';
                  tbl +='</td>';
              tbl +='</tr>';
          });
  tbl +='</tbody>';
  tbl +='</table>'
  $('.tbl_user_data').html(tbl);
}



  var options = {
  series: [],
  chart: {
  height: 350,
  type: 'line',
},
stroke: {
  width: [0, 4]
},
title: {
  text: "close/volume/date"
},
dataLabels: {
  enabled: false,
  enabledOnSeries: [1]
},
noData: {
    text: 'Loading...'
  },
labels: [],
xaxis: {
  type: 'date',
},
yaxis: [{
  title: {
    text: 'Volume',
  },

}, {
  opposite: true,
  title: {
    text: 'Close',
  }
}]
};

chart = new ApexCharts(document.querySelector("#code_chart"), options);
chart.render();


function updateGraph(close, volume, date){
    chart.updateOptions({
    series:[{
    name: 'Volume',
    type: 'column',
    data: volume
  },
  {
    name: 'Close',
    type: 'line',
    data: close,
  }],
  xaxis: {
      categories: date
   }
})

};


$(document).ready(function(){
  $.get("{% url 'main:trades'%}", function(data, status){
    $("#Previous").attr("href", data['previous']);
    $("#Next").attr("href", data['next']);
    renderTable(data['results']);
    let volume = [];
    let close = [];
    let date = [];
    $.each(data['results'], function(index, val){
      date.push(val['date']);
      close.push(val['close']);
      volume.push(val['volume']);
    });
    updateGraph(close, volume,  date);
  });



$(document).on('click', '.page-link', function(event){
  event.preventDefault();
  data_url = $(this).attr('href');
  if(data_url == null)
  {
    return
  }
  $.get(data_url, function(data, status){
    $("#Previous").attr("href", data['previous']);
    $("#Next").attr("href", data['next']);
    renderTable(data['results']);
    let volume0 = [];
    let close0 = [];
    let date0 = [];
    $.each(data['results'], function(index, val){
      date0.push(val['date']);
      close0.push(val['close']);
      volume0.push(val['volume']);
    });
    updateGraph(close0, volume0,  date0);
  });
  window.scrollTo(0, 0);
});

  $(document).on('click', '.dropdown-item', function(event){
    event.preventDefault();
    //$('#all_chart').css('display', 'none');
    var code = $(this).attr('trade_code');
    $('#trade_code_in').val(code);
    $('#code_viewer').text(code);
    var trades_url = "trade/" + code;
    $.get(trades_url, function(data, status){
      $("#Previous").attr("href", data['previous']);
      $("#Next").attr("href", data['next']);
      renderTable(data['results']);
      let volume1 = [];
      let close1 = [];
      let date1 = [];
      $.each(data['results'], function(index, val){
        date1.push(val['date']);
        close1.push(val['close']);
        volume1.push(val['volume']);
      });
      updateGraph(close1, volume1,  date1);
    });
  });

  $(document).on('click', '.row_data', function(event)
  {
    event.preventDefault();
      if($(this).attr('edit_type') == 'button')
    {
      return false;
    }
    $(this).closest('div').attr('contenteditable', 'true');
    $(this).addClass('bg-warning').css('padding','5px');
    $(this).focus();
  });

  $(document).on('focusout', '.row_data', function(event)
  {
    event.preventDefault();

    if($(this).attr('edit_type') == 'button')
    {
      return false;
    }

    var row_id = $(this).closest('tr').attr('row_id');

    var row_div = $(this)
    .removeClass('bg-warning') //add bg css
    .css('padding','')

    var col_name = row_div.attr('col_name');
    var col_val = row_div.html();

    var arr = {};
    arr[col_name] = col_val;

    $.extend(arr, {row_id:row_id});
      $.ajax({
          type: "POST",
          url: "{% url 'main:update' %}",
          headers: {'X-CSRFToken': '{{ csrf_token }}', 'Accept':'application/json'},
          data: {
            'pk':row_id,
            'attr':col_name,
            'val':col_val
          },
          success: function () {
              return false;
          }
        });
      });

      $(document).on('click', '#delete_button', function(event)
      {
          event.preventDefault();
          var row_id = $(this).closest('tr').attr('row_id');
          $.ajax({
              type: "POST",
              url: "{% url 'main:delete' %}",
              headers: {'X-CSRFToken': '{{ csrf_token }}', 'Accept':'application/json'},
              data: {
                'pk':row_id
              },
              success: function () {
                  row = '#' + row_id;
                  $(row).hide();
              }
            });
      });

      $(document).on('click', '#new_entry', function(event){
        event.preventDefault();
        $("#form_holder").css('display', 'block');
        $("#cancel").css('display', 'block');
        $(this).css('display', 'none');
      });

      $(document).on('click', '#cancel', function(event){
        event.preventDefault();
        $("#form_holder").css('display', 'none');
        $("#new_entry").css('display', 'block');
        $(this).css('display', 'none');
      });

      $(document).on('click', '#entry_submit', function(even){
        event.preventDefault();
        $.ajax({
            type: "POST",
            processData: false,
            contentType: false,
            cache: false,
            url: "{% url 'main:trades' %}",
            headers: {'X-CSRFToken': '{{ csrf_token }}', 'Accept':'application/json'},
            data: new FormData($('#new_entry_form')[0]),
            success: function () {
              $.get("{% url 'main:latest_entry' %}", function(data, status){
                $("#form_holder").css('display', 'none');
                $('#new_entry_form')[0].reset();
                var new_data = '<tr display="block" id="'+data.pk+'" row_id="'+data.pk+'">'
                new_data += '<td ><div class="row_data" edit_type="click" col_name="date">'+data.date+'</div></td>';
                new_data += '<td ><div class="row_data" edit_type="click" col_name="trade_code">'+data.trade_code+'</div></td>';
                new_data += '<td ><div class="row_data" edit_type="click" col_name="high">'+data.high+'</div></td>';
                new_data += '<td ><div class="row_data" edit_type="click" col_name="low">'+data.low+'</div></td>';
                new_data += '<td ><div class="row_data" edit_type="click" col_name="open">'+data.open+'</div></td>';
                new_data += '<td ><div class="row_data" edit_type="click" col_name="close">'+data.close+'</div></td>';
                new_data += '<td ><div class="row_data" edit_type="click" col_name="volume">'+data.volume+'</div></td>';
                new_data +='<td>';
                new_data += '<button type="button" edit_type="button" class="btn btn-outline-danger" id="delete_button">Delete</button>';
                new_data +='</td>';
                new_data +='</tr>';
                $('#tbody').prepend(new_data);
                });
            }
          });
      });
});

</script>